.Chat-TopBar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	.status, .actions ,.favourite, .call, .videocall {
		display: inline-block;
	}

	.favourite, .call, .videocall {
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		padding:27px;
		cursor: pointer;
	}

	.actions {
		float: right;
	}

	.status {
		padding:30px;
	}
}