.Search {
	padding-bottom: 15px;

	input {
		background-color:  #363d45;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
		border-radius: 20px;
		padding: 11px 20px;
		display: block;
		margin: 5px auto;
		width:80%;
		color:  #868b8e;
	}
}