.Inbox {
  background-color: #1D242C;
  display: block;
  padding: 30px;
  color: #a1a5a7;
  font-family: 'Roboto', sans-serif;
  position: relative; }
  .Inbox h2 {
    padding-left: 10px;
    color: #fff; }
  .Inbox .Search-Popup {
    position: relative; }
    .Inbox .Search-Popup::before {
      position: absolute;
      content: '';
      display: block;
      left: -15px;
      border-style: solid;
      border-width: 12.5px 15px 12.5px 0;
      border-color: transparent #ffffff transparent transparent; }
  .Inbox .link-group {
    padding: 25px 0 35px; }
    .Inbox .link-group li {
      padding: 10px;
      cursor: pointer;
      position: relative; }
      .Inbox .link-group li:hover {
        color: #fff; }
      .Inbox .link-group li .count {
        color: #fff;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 11px; }
    .Inbox .link-group .active {
      color: #fff;
      border-radius: 4px;
      background-color: rgba(64, 74, 83, 0.56);
      box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.06); }

.New-Friend {
  display: inline-block;
  height: auto;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: left;
  padding: 3px; }
  .New-Friend .fisrtName, .New-Friend .SecondName, .New-Friend .email {
    display: inline-block;
    color: rgba(41, 48, 55, 0.8);
    padding: 3% 3% 0% 3%;
    font-weight: 300; }
  .New-Friend .StartConversation {
    color: rgba(41, 48, 55, 0.8);
    text-align: right;
    font-weight: 400;
    margin-right: 22px;
    margin-top: 5px; }
  .New-Friend .StartConversation span {
    vertical-align: 1px; }
  .New-Friend .StartConversation:hover {
    color: #18d67b;
    font-weight: 800;
    cursor: pointer; }
  .New-Friend .email:hover {
    color: #052b75; }

.New-Friend hr {
  position: relative;
  margin-top: 29px;
  color: rgba(238, 238, 238, 0.3); }
