.Inbox {
	background-color: #1D242C;
	display: block;
	padding: 30px;
	color:  #a1a5a7;
	font-family:'Roboto', sans-serif;
	position: relative;

	h2 {
		padding-left:10px;
		color: #fff;
	}

	.Search-Popup {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			display: block;
			left: -15px;
			border-style: solid;
			border-width: 12.5px 15px 12.5px 0;
			border-color: transparent #ffffff transparent transparent;
		}
	}

	.link-group {
		padding: 25px 0 35px;

		 li {
			 padding: 10px;
			 cursor: pointer;
			 position: relative;
			 &:hover {
				 color: #fff;
			 }

			 .count {
				 color: #fff;
				 position: absolute;
				 right: 10px;
				 top: 50%;
				 transform: translateY(-50%);
				 font-size: 11px;
			 }
		 }

		.active {
			color: #fff;
			border-radius: 4px;
			background-color:  rgba(64, 74, 83, 0.56);
			box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.06);
		}
	}
}
.New-Friend
{
display: inline-block;
height: 120px;
width: 215px;
border-radius: 5px;
border:  1px solid #eee;
text-align: left;
margin: 10px 0;
padding: 3px;

  .fisrtName ,.SecondName , .email
   {
		 display: inline-block;
		 color: rgba(41, 48, 55, 0.8);
		 padding-left: 5px;
		 padding-top: 5px;
		 font-weight: 300;
   }
     .StartConversation
     {
	     color: rgba(41, 48, 55, 0.8);
	     text-align: right;
	     font-weight: 400;
	     margin-right: 22px;
	     margin-top: 5px;
     }
		 .StartConversation span{
        vertical-align: 1px;
			 }
     .StartConversation:hover
       {
	         margin-top: 7px;
	         color: #18d67b;
	         font-weight: 800;
					 cursor: pointer;
        }
				.email:hover{
				     color: #052b75;
						 padding-left: 3px;
					}
}
.New-Friend hr
{
position: relative;
margin-top: 29px;
color: rgba(238, 238, 238, 0.3);
}
