.slide-in-left-enter {
  -webkit-transform: translateX(-1000px);
  transform: translateX(-1000px);
  opacity: 0;
}
.slide-in-left-enter.slide-in-left-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  transition: transform 600ms ease-in;
}

.fade-in-enter {
  opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.fade-in-leave {
  opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.fade-in-appear {
  opacity: 0.01;
}

.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes typing {
  0% {
    width: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
  animation-duration: 0.7s;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 adjust-hue(#000, 45deg); }
}


