* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	background-color: #eee;
	height:100vh;
}

ul {
	list-style: none;
	margin-left: 0;
}

.bottom-border {
	border-bottom: 1px solid rgba(224, 228, 234, 0.1);
}

.input-default {
	outline: none;
	appearance: none;
	border: none;
	font-family:'Roboto', sans-serif;
}

.btn-default {
	outline: none;
	appearance: none;
	border: 1px solid rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0);
	padding: 15px 30px;
}

.actions {
	position: relative;
	top:5px;
	left:18px;
	width: 4px;
	height: 4px;
	background-color: #fff;
	border-radius: 50%;
	&:before, &:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: inherit;
		border-radius: inherit;
	}

	&:before {
		left: 9px;
	}

	&:after {
		left: 18px;
	}
}

.Auth-Modal {
	background: #284571;
	background: -moz-linear-gradient(-45deg, #284571 0%, #2989d8 43%, #207cca 52%, #2c3642 100%, #2c3642 100%);
	background: -webkit-linear-gradient(-45deg, #284571 0%,#2989d8 43%,#207cca 52%,#2c3642 100%,#2c3642 100%);
	background: linear-gradient(135deg, #284571 0%,#2989d8 43%,#207cca 52%,#2c3642 100%,#2c3642 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284571', endColorstr='#2c3642',GradientType=1 );
}

//======== Scrollbar styles ========//

::-webkit-scrollbar {
	background-color: rgba(0,0,0,0);
	width: 9px;
	}

::-webkit-scrollbar-thumb {
		border: none;
		border-radius: 5px;
		width: 9px;
		background-clip: padding-box;
	}

.Friend-List {
	::-webkit-scrollbar-thumb {
		background-color:  rgba(0,0,0,0.4);
	}
}

.Chat {
	::-webkit-scrollbar-thumb {
		background-color:  rgba(255,255,255,0.5);
	}
}



//======== Components grid ========//

#root, .App, .App-header {
	overflow: hidden;
	height:100%;
}

.container {
	@include outer-container;
	height: 100%;
}

.Inbox {
	@include span-columns(4 of 24, block-collapse);
}

.Friend-List {
	@include span-columns(6 of 24, block-collapse);

	.Friend {
		img {
			@include span-columns(3 of 12);
		}

		.content {
			@include span-columns(7 of 12);
		}

		.additional {
			@include span-columns(2 of 12);
		}
	}
}

.Search {
	@include fill-parent();
}

.Chat {
	@include span-columns(10 of 24, block-collapse);
}

.Enter-Message, .Chat-Messages {
	@include fill-parent();
}

.Profile-Bar {
	@include span-columns(4 of 24, block-collapse);
}