* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	background-color: #eee;
}

ul {
	list-style: none;
	margin-left: 0;
}

.bottom-border {
	border-bottom: 1px solid rgba(224, 228, 234, 0.1);
}

.input-default {
	outline: none;
	appearance: none;
	border: none;
	font-family:'Roboto', sans-serif;
}

//======== Components grid ========//

.container {
	@include outer-container;
}

.Inbox {
	@include span-columns(4 of 24);
	@include omega;
}

.Friend-List {
	@include span-columns(6 of 24);
	@include omega;

	.Friend {
		img {
			@include span-columns(3 of 12);
		}

		.content {
			@include span-columns(7 of 12);
		}

		.additional {
			@include span-columns(2 of 12);
		}
	}
}

.Search {
	@include fill-parent();
}

.Chat {
	@include span-columns(10 of 24);
}

.Enter-Message, .Chat-Messages {
	@include fill-parent();
}
