* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	background-color: #eee;
	height:100vh;
}

a {
	text-decoration: none;

	&:visited {
		color: #000;
	}
}

ul {
	list-style: none;
	margin-left: 0;
}

.bottom-border {
	border-bottom: 1px solid rgba(224, 228, 234, 0.1);
}

.input-default {
	outline: none;
	appearance: none;
	border: none;
	font-family:'Roboto', sans-serif;
}

.btn-default {
	outline: none;
	appearance: none;
	border: 1px solid rgba(255,255,255,1);
	color: #fff;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	padding: 15px 30px;
}

.actions {
	position: relative;
	top:5px;
	left:18px;
	width: 4px;
	height: 4px;
	background-color: #fff;
	border-radius: 50%;
	&:before, &:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: inherit;
		border-radius: inherit;
	}

	&:before {
		left: 9px;
	}

	&:after {
		left: 18px;
	}
}

.Auth-Modal {
	background: linear-gradient(270deg,#cc6aa5,#3e91cc,#2dcca7,#7E57C2);
	background-size: 800% 100%;
	-webkit-animation: bg-pan-left 20s infinite;
	animation: bg-pan-left 20s infinite;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284571', endColorstr='#2c3642',GradientType=1 );
	font-family: Roboto, sans-serif;

	.modal.register {
		input {
			padding: 15px 5px;
			background-color: rgba(0,0,0,0);
			border-bottom: 1px solid #fff;
			color: #fff;
		}
		::-webkit-input-placeholder {
			color: #fff;
			font-size: 15px;
		}
		::-moz-placeholder {
			color: #fff;
			font-size: 15px;
		}
		:-ms-input-placeholder {
			color: #fff;
			font-size: 15px;
		}
		:-moz-placeholder {
			color: #fff;
			font-size: 15px;
		}
	}

	fieldset {
		border: none;
		position: relative;
		input {
			padding: 15px 5px 15px 40px;
			color: rgb(80, 80, 80);
			background-color: rgb(217, 218, 220);
			border-bottom: none;
		}

		&+div {
			text-align: right;
			padding-top: 10px;
		}
	}

	span {
		font-style: italic;
		font-size: 12px;
		color: #2d2d2d;
	}

	span.register-link {
		color: #fff;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}

	h3 {
		letter-spacing: 1.5px;
	}

	::-webkit-input-placeholder {
		color: rgb(80, 80, 80);
		font-size: 15px;
	}
	::-moz-placeholder {
		color: rgb(80, 80, 80);
		font-size: 15px;
	}
	:-ms-input-placeholder {
		color: rgb(80, 80, 80);
		font-size: 15px;
	}
	:-moz-placeholder {
		color: rgb(80, 80, 80);
		font-size: 15px;
	}
	button[type='submit'] {
		margin-top: 30px;
		width:50%;
	}

	button {
		font-family: Roboto, sans-serif;
	}
}

//======== Components grid ========//

#root, .App, .App-header {
	overflow: hidden;
	height:100%;
}

.container {
	@include outer-container;
	height: 100%;
}

.Inbox {
	@include span-columns(4 of 24, block-collapse);
}

.my-message {
	flex-direction: row-reverse;
	.message {
		background-color: #0084FF !important;
		color: #fff;
		text-align: right;		
	}
}

.Friend-List {
	@include span-columns(6 of 24, block-collapse);

	.Friend {
		img {
			@include span-columns(3 of 12);
		}

		.content {
			@include span-columns(7 of 12);
		}

		.additional {
			@include span-columns(2 of 12);
		}
	}
}

.Search {
	@include fill-parent();
}

.Chat {
	@include span-columns(10 of 24, block-collapse);
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

.User-Profile {
	.profile-picture {
		@include span-columns(4 of 12);
	}
	.profile-info {
		@include span-columns(8 of 12);
	}

    .row {
      @include span-columns(12 of 12);
      .btn {
        position: relative;
        left:58%;
        border: 1px solid #e0e4ea;
        background-color: #e0e4ea;
        font-family:'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
      }
    }
}

.Enter-Message, .Chat-Messages {
	@include fill-parent();
}

.Profile-Bar {
	@include span-columns(4 of 24, block-collapse);
}