.icon {
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-call {
	background-image: url('./static/images/icons/call.png');
	width: 23px;
}

.icon-favourite {
	background-image: url('./static/images/icons/favourite.png');
}

.icon-videocall {
	background-image: url('./static/images/icons/videocall.png');
	width: 23px;
}

.icon-attach {
	background-image: url('./static/images/icons/attach.png');
	height: 25px;
}

.icon-emoji {
	background-image: url('./static/images/icons/emojis.png');
	width:22px;
	height:21px;
}

.icon-send {
	background-image: url('./static/images/icons/send.png');
	width: 40px;
	height:40px;
}
.icon-add-user {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("../src/static/images/icons/add-user-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	float: right;
	margin-right: 5px;
}
