html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  background-color: #eee;
  height: 100vh; }

a {
  text-decoration: none; }
  a:visited {
    color: #000; }

ul {
  list-style: none;
  margin-left: 0; }

.bottom-border {
  border-bottom: 1px solid rgba(224, 228, 234, 0.1); }

.input-default {
  outline: none;
  appearance: none;
  border: none;
  font-family: 'Roboto', sans-serif; }

.btn-default {
  outline: none;
  appearance: none;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  padding: 15px 30px; }

.actions {
  position: relative;
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%; }
  .actions:before, .actions:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: inherit;
    border-radius: inherit; }
  .actions:before {
    left: 9px; }
  .actions:after {
    left: 18px; }

.Auth-Modal {
  background: #284571;
  background: -moz-linear-gradient(-45deg, #284571 0%, #2989d8 43%, #207cca 52%, #2c3642 100%, #2c3642 100%);
  background: -webkit-linear-gradient(-45deg, #284571 0%, #2989d8 43%, #207cca 52%, #2c3642 100%, #2c3642 100%);
  background: linear-gradient(135deg, #284571 0%, #2989d8 43%, #207cca 52%, #2c3642 100%, #2c3642 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284571', endColorstr='#2c3642',GradientType=1 ); }

#root, .App, .App-header {
  overflow: hidden;
  height: 100%; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.Inbox {
  float: left;
  display: block;
  width: 16.86085%; }
  .Inbox:last-child {
    width: 15.69576%; }

.my-message {
  flex-direction: row-reverse; }
  .my-message .message {
    background-color: #0084FF !important;
    color: #fff;
    text-align: right; }

.Friend-List {
  float: left;
  display: block;
  width: 25.29127%; }
  .Friend-List:last-child {
    width: 24.12618%; }
  .Friend-List .Friend img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .Friend-List .Friend img:last-child {
      margin-right: 0; }
  .Friend-List .Friend .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .Friend-List .Friend .content:last-child {
      margin-right: 0; }
  .Friend-List .Friend .additional {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .Friend-List .Friend .additional:last-child {
      margin-right: 0; }

.Search {
  width: 100%; }

.Chat {
  float: left;
  display: block;
  width: 42.15212%;
  display: flex;
  flex-basis: 100%;
  flex-direction: column; }
  .Chat:last-child {
    width: 40.98703%; }

.User-Profile .profile-picture {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .User-Profile .profile-picture:last-child {
    margin-right: 0; }
.User-Profile .profile-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .User-Profile .profile-info:last-child {
    margin-right: 0; }
.User-Profile .row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .User-Profile .row:last-child {
    margin-right: 0; }
  .User-Profile .row .btn {
    position: relative;
    left: 58%;
    border: 1px solid #e0e4ea;
    background-color: #e0e4ea;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px; }

.Enter-Message, .Chat-Messages {
  width: 100%; }

.Profile-Bar {
  float: left;
  display: block;
  width: 16.86085%; }
  .Profile-Bar:last-child {
    width: 15.69576%; }

.icon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

.icon-call {
  background-image: url("./static/images/icons/call.png");
  width: 23px; }

.icon-edit {
  background-image: url("./static/images/icons/edit.png");
  width: 24px;
  height: 24px;
  position: relative;
  top: 4px;
  left: 15px;
  cursor: pointer; }
  .icon-edit:hover {
    background-image: url("./static/images/icons/edit-hover.png"); }

.icon-edit-active {
  background-image: url("./static/images/icons/edit-hover.png");
  width: 24px;
  height: 24px;
  position: relative;
  top: 4px;
  left: 15px;
  cursor: pointer; }

.icon-favourite {
  background-image: url("./static/images/icons/favourite.png"); }

.icon-videocall {
  background-image: url("./static/images/icons/videocall.png");
  width: 23px; }

.icon-attach {
  background-image: url("./static/images/icons/attach.png");
  height: 25px; }

.icon-emoji {
  background-image: url("./static/images/icons/emojis.png");
  width: 22px;
  height: 21px; }

.icon-send {
  background-image: url("./static/images/icons/send.png");
  width: 40px;
  height: 40px; }

.icon-add-user {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../src/static/images/icons/add-user-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  float: right;
  margin-right: 5px; }

.slide-in-left-enter {
  -webkit-transform: translateX(-1000px);
  transform: translateX(-1000px);
  opacity: 0; }

.slide-in-left-enter.slide-in-left-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  transition: transform 600ms ease-in; }

.fade-in-enter {
  opacity: 0.01; }

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in; }

.fade-in-leave {
  opacity: 1; }

.fade-in-leave.fade-in-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in; }

.fade-in-appear {
  opacity: 0.01; }

.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transition: opacity 400ms ease-in; }

/*# sourceMappingURL=index.css.map */
